<%- include('partials/head') %>
<header class="bg-light mb-5 p-5">
  <h1>Upload de Imagens com Node.js e Express.js</h1>
</header>
<main class="container mt-5 p-5 bg-light border rounded">
  <section class="row">
    <article class="col-12">
      <p>Preencha o formulário a seguir</p>
      <form method="post" action="register" enctype="multipart/form-data">
        <div class="row mb-3">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
              <label for="name" class="form-label">Nome</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Sobrenome">
              <label for="lastname" class="form-label">Sobrenome</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="image" class="form-label">Avatar</label>
            <input type="file" class="form-control" id="image" name="image" aria-describedby="imageHelp">
            <div id="imageHelp" class="form-text">Insira arquivos .jpg ou .png (máx. 4MB).</div>
          </div>
        </div>
        <button type="submit" name="upload" class="btn btn-primary align-right">Enviar</button>
      </form>
    </article>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>