<%- include('partials/head') %>
<header class="bg-light mb-5 p-5">
  <h1>Upload de Imagens com Node.js e Express.js</h1>
</header>
<main class="container mt-5 p-5 bg-light border rounded">
  <section class="row">
    <article class="col-12 col-md-6 mx-auto">
      <div class="mx-auto">
        <img src="https://static.wikia.nocookie.net/spsot/images/b/b9/Randy_Marsh_facebook_profile.png" alt="Avatar de Randy Marsh" class="border border-4 border-warning rounded-circle mx-auto my-3" height="auto" width="100%">
        <h2 class="mx-auto my-3 text-center">Randy Marsh</h2>
      </div>
    </article>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>